.custom-header-bg {
    background-color: #006D77 !important;
}

.custom-search-btn {
    background-color: #E29578 !important;
}

.custom-card-bg {
    background-color: #83C5BE;
}

.hide {
    display: none;
}